<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ensage.SDK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ensage.SDK.Properties.Settings>
            <setting name="Logger" serializeAs="String">
                <value>https://8c33266dfc6547738bcd9a2b0fe079e5:e994911e30b347599c68b70ae525d553@sentry.ensage.io/10</value>
            </setting>
        </Ensage.SDK.Properties.Settings>
    </applicationSettings>
</configuration>